.gf-Fav {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 50%;

  background: rgba(255, 172, 172, 0.3);
  transition: all 0.3s ease;
  cursor: pointer;
}

.gf-Fav:hover {
  background: rgba(255, 172, 172, 0.8);
}

.gf-Fav span {
  display: block;
  width: 20px;
}
