.sectionScroller {
	position: sticky;
	top: calc(var(--height-header) * 1.2);
	max-width: 300px;
	float: left;
	padding-right: 1rem;
}

.aside {
	width: 100%;
	max-width: calc(100% - 300px);
	float: right;
}

@media screen and (max-width: 60rem) {
	.App-home_wrapper {
		display: flex;
		flex-direction: column;
	}

	.sectionScroller {
		order: 1;
		max-width: 100%;
		position: static;
		margin-top: 50px;
	}

	.aside {
		width: 100%;
		max-width: 100%;
		min-height: 130vh;
	}
}
