:root {
	--height-header: 4em;
}

.App-header {
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: var(--zIndex-header);
	padding: .6rem 0;
	min-height: var(--height-header);

	background-color: var(--theme-header-bg);
	color: var(--theme-header-txt);
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
		0px 4px 5px 0px rgba(0, 0, 0, 0.14),
		0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.App-header_wrapper {
	display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr minmax(4rem, max-content);
    gap: 0.5rem;
}
.App-header_block {
	display: flex;
	flex-direction: column;
	min-width: 100px;
}

.App-header-field {
    display: flex;
    justify-content: space-between;
}

.App-user-field {
    padding: 0 0.5rem;
    display: grid;
    box-shadow: -1px 0 0 0 #cdd4de4f;
}

.App-user-field a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-body-txt-dark);
    text-decoration: none;
}